.home {
  background-image: url("./images/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .home .date {
    color: white;
    font-size: 24px; }
  .home .bottom-apps {
    position: absolute;
    display: flex;
    bottom: 48px;
    padding: 5px 24px; }
